
$color-white: #fff;
$color-black: #000;

$color-grey-10: #7d8790;
$color-grey-9: #35383d;
$color-grey-5: #656b77;
$color-grey-4: #b7c0c8;
$color-grey-3: #d2d8de;
$color-grey-2: #e9edf2;
$color-grey-1: #f3f6f8;

$color-blue-2: #398bff;

$color-font-main: #475453;

$main-font-family: "TT Norms", "Arial", sans-serif;

$aside-width: 300px;
$aside-bg-color: #e9f5f4;
