
// https://stackoverflow.com/questions/46805243/how-to-remove-whitespace-in-sass-string
@function str-remove-whitespace($str) {
  @while (str-index($str, ' ') != null) {
    $index: str-index($str, ' ');
    $str: "#{str-slice($str, 0, $index - 1)}#{str-slice($str, $index + 1)}";
  }

  @return $str;
}

@mixin font-urls($fullName, $version: "1.0.0") {
  $name: str-remove-whitespace($fullName);
  $path: '../../../public/fonts/TTNorms/TTNorms';

  src: url("#{$path}-#{$name}.eot?v=#{$version}");
  src:
    local('TT Norms #{$fullName}'),
    local('TTNorms-#{$name}'),
    url('#{$path}-#{$name}.eot?#iefix') format('embedded-opentype'),
    url('#{$path}-#{$name}.woff?v=#{$version}') format('woff'),
    url('#{$path}-#{$name}.ttf?v=#{$version}') format('truetype');
}
